
<%- include('./partials/head.ejs') %>
<section class="section sec4 " id="blogs">
    <div class="blogs-content">
        <div class="main-title">
            <h2>My <span>Blogs</span><span class="bg-text">My Blogs</span></h2>
        </div>
        <div class="addition">
            <h2 class="subscribe">Subscribe to our daily blogs</h2>
            <form class="form">
                <input type="email" class="email"placeholder="Enter your email">
                <button  class="button">Subscribe</button>
            </form>
        </div>
        <div class="blogs">
            <div class="blog">
                <img src="/img/blog1.jpg" alt="">
                <div class="blog-text">
                    <h4>
                        How to Create Your Own Website
                    </h4>
                    <p>
                        Register your domain name. Your domain name should reflect your products or 
                        services so that your customers can easily find your business through a search
                    </p>
                </div>
            </div>
            <div class="blog">
                <img src="/img/blog2.jpg" alt="">
                <div class="blog-text">
                    <h4>
                      How to become an expert web designer
                    </h4>
                    <p>
                        Web Designer career guide is intended to help you take the first steps toward a lucrative career in Web Design. The guide provides an in-depth overview of the web design skills you should learn, 
                        the best training options, career paths in web design, how to
                    </p>
                </div>
            </div>
            <div class="blog">
                <img src="/img/blog3.jpg" alt="">
                <div class="blog-text">
                    <h4>
                Javascript the Most boring Part
                    </h4>
                    <p>
                    I always hear people complain that JavaScript is hard to learn, or that it’s just not clicking for them. This frustrates me. 
                    It frustrates me because I want to help them learn, help it click for them  
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer.ejs') %>